<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.sys.mapper.SysDictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mango.sys.entity.SysDictionary">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="options" property="options" typeHandler="com.mango.handler.mybatis.JSONArrayHandler" />
        <result column="note" property="note" />
        <result column="priority" property="priority" />
        <result column="is_deleted" property="isDeleted" />
        <result column="creator_id" property="creatorId" />
        <result column="create_time" property="createTime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modify_time" property="modifyTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, code, type, options, note, priority, is_deleted, creator_id, create_time, modifier_id, modify_time, remark
    </sql>

</mapper>
