<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.sys.mapper.SysLoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mango.sys.entity.SysLoginLog">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="ip_address" property="ipAddress" />
        <result column="device" property="device" typeHandler="com.mango.handler.mybatis.JSONObjectHandler" />
        <result column="note" property="note" />
        <result column="is_succeed" property="isSucceed" />
        <result column="login_time" property="loginTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_name, ip_address, device, note, is_succeed, login_time, is_deleted
    </sql>

</mapper>
