<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.sys.mapper.SysUserExtMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mango.sys.entity.SysUserExt">
        <id column="sys_user_id" property="sysUserId" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        sys_user_id, email, mobile
    </sql>

</mapper>
